<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Forma</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>     
     <form action="#" th:action="@{/example/addUsuario}" th:object="${usuario2}" method="POST">
	  <label for="fname">Nombre:</label><br>
	  <input type="text" th:field="*{nombre}"><br>
	  <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en el nombre</p>
	  <label for="lname">Apellido:</label><br>
	  <input type="text" th:field="*{apellido}"><br>
	  <p th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error en el apellido</p><br>
	  <button>Submit</button>
	</form>
	
</body>
</html>